In [1]:
import pandas as pd
from pandasql import sqldf

In [2]:
df = pd.read_excel('./test.xlsx',sheet_name='Sheet1')
df

  地域 省份   产品年  数量  金额  市值
0  A  甲  2020   1  10  15
1  A  甲  2021   2  20  30
2  A  乙  2022   3  30  45
3  B  丙  2020   1  10  15
4  B  丁  2021   2  20  30
5  B  丁  2022   3  30  45
6  C  戊  2020   1  10  15
7  C  己  2021   2  20  30
8  C  己  2022   3  30  45

In [3]:
# pandasql 的底层是基于 SQLite 的

pyqldf = lambda q: sqldf(q, globals())

query1 = """
        SELECT
        df."地域",
        df."省份",
        SUM ( CASE WHEN df."产品年"  = 2020 THEN df."数量"  ELSE 0 END ) AS "2020 数量",
        SUM ( CASE WHEN df."产品年"  = 2021 THEN df."数量"  ELSE 0 END ) AS "2021 数量",
        SUM ( CASE WHEN df."产品年"  = 2022 THEN df."数量"  ELSE 0 END ) AS "2022 数量",
        SUM (df."数量" ) AS "总计 数量",
        SUM ( CASE WHEN df."产品年"  = 2020 THEN df."金额"  ELSE 0 END ) AS "2020 金额",
        SUM ( CASE WHEN df."产品年"  = 2021 THEN df."金额"  ELSE 0 END ) AS "2021 金额",
        SUM ( CASE WHEN df."产品年"  = 2022 THEN df."金额"  ELSE 0 END ) AS "2022 金额",
        SUM (df."金额" ) AS "总计 金额",
        SUM ( CASE WHEN df."产品年"  = 2020 THEN df."市值"  ELSE 0 END ) AS "2020 市值",
        SUM ( CASE WHEN df."产品年"  = 2021 THEN df."市值"  ELSE 0 END ) AS "2021 市值",
        SUM ( CASE WHEN df."产品年"  = 2022 THEN df."市值"  ELSE 0 END ) AS "2022 市值", 
        SUM (df."市值" ) AS "总计 市值"
        FROM
        df 
        GROUP BY
        df."地域", df."省份"
        ORDER BY
        df."地域",
        df."省份"
        ;
        """

query2 = """
        SELECT
        df."地域",
        '小计' AS "省份",
        SUM ( CASE WHEN df."产品年"  = 2020 THEN df."数量"  ELSE 0 END ) AS "2020 数量",
        SUM ( CASE WHEN df."产品年"  = 2021 THEN df."数量"  ELSE 0 END ) AS "2021 数量",
        SUM ( CASE WHEN df."产品年"  = 2022 THEN df."数量"  ELSE 0 END ) AS "2022 数量",
        SUM (df."数量" ) AS "总计 数量",
        SUM ( CASE WHEN df."产品年"  = 2020 THEN df."金额"  ELSE 0 END ) AS "2020 金额",
        SUM ( CASE WHEN df."产品年"  = 2021 THEN df."金额"  ELSE 0 END ) AS "2021 金额",
        SUM ( CASE WHEN df."产品年"  = 2022 THEN df."金额"  ELSE 0 END ) AS "2022 金额",
        SUM (df."金额" ) AS "总计 金额",
        SUM ( CASE WHEN df."产品年"  = 2020 THEN df."市值"  ELSE 0 END ) AS "2020 市值",
        SUM ( CASE WHEN df."产品年"  = 2021 THEN df."市值"  ELSE 0 END ) AS "2021 市值",
        SUM ( CASE WHEN df."产品年"  = 2022 THEN df."市值"  ELSE 0 END ) AS "2022 市值", 
        SUM (df."市值" ) AS "总计 市值"
        FROM
        df 
        GROUP BY
        df."地域"
        ORDER BY
        df."地域"
        ;
        """

query3 = """
        SELECT
        '总计' AS "地域",
        '' AS "省份",
        SUM ( CASE WHEN df."产品年"  = 2020 THEN df."数量"  ELSE 0 END ) AS "2020 数量",
        SUM ( CASE WHEN df."产品年"  = 2021 THEN df."数量"  ELSE 0 END ) AS "2021 数量",
        SUM ( CASE WHEN df."产品年"  = 2022 THEN df."数量"  ELSE 0 END ) AS "2022 数量",
        SUM (df."数量" ) AS "总计 数量",
        SUM ( CASE WHEN df."产品年"  = 2020 THEN df."金额"  ELSE 0 END ) AS "2020 金额",
        SUM ( CASE WHEN df."产品年"  = 2021 THEN df."金额"  ELSE 0 END ) AS "2021 金额",
        SUM ( CASE WHEN df."产品年"  = 2022 THEN df."金额"  ELSE 0 END ) AS "2022 金额",
        SUM (df."金额" ) AS "总计 金额",
        SUM ( CASE WHEN df."产品年"  = 2020 THEN df."市值"  ELSE 0 END ) AS "2020 市值",
        SUM ( CASE WHEN df."产品年"  = 2021 THEN df."市值"  ELSE 0 END ) AS "2021 市值",
        SUM ( CASE WHEN df."产品年"  = 2022 THEN df."市值"  ELSE 0 END ) AS "2022 市值",
        SUM (df."市值" ) AS "总计 市值"
        FROM
        df
        ;
        """

# 曲线救国，代替 UNION 的功能
result1 = pyqldf(query1)
result2 = pyqldf(query2)
result3 = pyqldf(query3)
result = pd.concat([result1,result2,result3])
result

,地域,省份,2020 数量,2021 数量,2022 数量,总计 数量,2020 金额,2021 金额,2022 金额,总计 金额,2020 市值,2021 市值,2022 市值,总计 市值
0,A,乙,0,0,3,3,0,0,30,30,0,0,45,45
1,A,甲,1,2,0,3,10,20,0,30,15,30,0,45
2,B,丁,0,2,3,5,0,20,30,50,0,30,45,75
3,B,丙,1,0,0,1,10,0,0,10,15,0,0,15
4,C,己,0,2,3,5,0,20,30,50,0,30,45,75
5,C,戊,1,0,0,1,10,0,0,10,15,0,0,15
0,A,小计,1,2,3,6,10,20,30,60,15,30,45,90
1,B,小计,1,2,3,6,10,20,30,60,15,30,45,90
2,C,小计,1,2,3,6,10,20,30,60,15,30,45,90
0,总计,,3,6,9,18,30,60,90,180,45,90,135,270