In [1]:
import pandas as pd
from pandas.api.types import CategoricalDtype

df = pd.read_excel('./test.xlsx',sheet_name='Sheet1')
df

   地域 省份   产品年  数量  金额  市值
0  A   甲  2020   1  10  15
1  A   甲  2021   2  20  30
2  A   甲  2022   3  30  45
3   B  乙  2020   1  10  15
4   B  乙  2021   2  20  30
5   B  乙  2022   3  30  45
6   C  丙  2020   1  10  15
7   C  丙  2021   2  20  30
8   C  丙  2022   3  30  45

In [2]:
df_pivot = pd.pivot_table(df,index=['地域','省份'],columns=['产品年'],values=['数量','金额','市值'],aggfunc='sum',margins=True).transpose().swaplevel(0).transpose()
df_pivot

产品年    2020 2021 2022  All 2020 2021 2022 All 2020 2021 2022  All
         市值   市值   市值   市值   数量   数量   数量  数量   金额   金额   金额   金额
地域  省份
A   甲    15   30   45   90    1    2    3   6   10   20   30   60
B   乙    15   30   45   90    1    2    3   6   10   20   30   60
C   丙    15   30   45   90    1    2    3   6   10   20   30   60
All      45   90  135  270    3    6    9  18   30   60   90  180

In [3]:
df_pivot = df_pivot.sort_index(axis=1,level=0)
df_pivot

产品年    2020        2021        2022         All
         市值 数量  金额   市值 数量  金额   市值 数量  金额   市值  数量   金额
地域  省份
A   甲    15  1  10   30  2  20   45  3  30   90   6   60
B   乙    15  1  10   30  2  20   45  3  30   90   6   60
C   丙    15  1  10   30  2  20   45  3  30   90   6   60
All      45  3  30   90  6  60  135  9  90  270  18  180

In [4]:
cols = list(df_pivot.columns)
cols

[(2020, '市值'),
 (2020, '数量'),
 (2020, '金额'),
 (2021, '市值'),
 (2021, '数量'),
 (2021, '金额'),
 (2022, '市值'),
 (2022, '数量'),
 (2022, '金额'),
 ('All', '市值'),
 ('All', '数量'),
 ('All', '金额')]

In [5]:
cols= []
for i in range(1,10):
    if i % 3 != 0:
        cols.append(i)
    else:
        cols.append(i-3)
cols

[1, 2, 0, 4, 5, 3, 7, 8, 6]

In [6]:
df_result = df_pivot.iloc[:,cols].reset_index()
df_result

产品年   地域 省份 2020         2021         2022
              数量  金额  市值   数量  金额  市值   数量  金额   市值
0     A   甲    1  10  15    2  20  30    3  30   45
1      B  乙    1  10  15    2  20  30    3  30   45
2      C  丙    1  10  15    2  20  30    3  30   45
3    All       3  30  45    6  60  90    9  90  135

In [7]:
# 构建元组

cols_new = []

a = [2020,2021,2022]
b = ['数量','金额','市值']

for i in a:
    for m in b:
        list_temp = []
        list_temp.append(i)
        list_temp.append(m)
        cols_new.append(tuple(list_temp))
        
cols_new

[(2020, '数量'),
 (2020, '金额'),
 (2020, '市值'),
 (2021, '数量'),
 (2021, '金额'),
 (2021, '市值'),
 (2022, '数量'),
 (2022, '金额'),
 (2022, '市值')]

In [8]:
df_result2 = df_pivot[cols_new].reset_index()
df_result2

产品年   地域 省份 2020         2021         2022
              数量  金额  市值   数量  金额  市值   数量  金额   市值
0     A   甲    1  10  15    2  20  30    3  30   45
1      B  乙    1  10  15    2  20  30    3  30   45
2      C  丙    1  10  15    2  20  30    3  30   45
3    All       3  30  45    6  60  90    9  90  135