In [1]:
import pandas as pd
import datetime
import copy

In [2]:
# 读取数据集
df = pd.read_excel('./data.xlsx',sheet_name='Sheet3')
df['日期'] = pd.to_datetime(df['日期'])
df = df.set_index('日期')
df

            销售额   客流
日期
2019-01-01  749  188
2019-02-01  659  348
2019-03-01  649  428
2019-04-01  724  508
2019-05-01  656  820
2019-06-01  719  118
2019-07-01  710  513
2019-08-01  959  184
2019-09-01  728  182
2019-10-01  798  558
2019-11-01  856  344
2019-12-01  990  594

In [3]:
df1 = copy.deepcopy(df)
df2 = copy.deepcopy(df)
df3 = copy.deepcopy(df)

In [4]:
# 使用 shift() 移动数据
# 向下移动 2 行数据
df1 = df1.shift(periods=2)
df1

              销售额     客流
日期
2019-01-01    NaN    NaN
2019-02-01    NaN    NaN
2019-03-01  749.0  188.0
2019-04-01  659.0  348.0
2019-05-01  649.0  428.0
2019-06-01  724.0  508.0
2019-07-01  656.0  820.0
2019-08-01  719.0  118.0
2019-09-01  710.0  513.0
2019-10-01  959.0  184.0
2019-11-01  728.0  182.0
2019-12-01  798.0  558.0

In [5]:
# 向后移动 2 天索引（必须是时间索引）
df2 = df2.shift(freq=datetime.timedelta(2))
df2

            销售额   客流
日期
2019-01-03  749  188
2019-02-03  659  348
2019-03-03  649  428
2019-04-03  724  508
2019-05-03  656  820
2019-06-03  719  118
2019-07-03  710  513
2019-08-03  959  184
2019-09-03  728  182
2019-10-03  798  558
2019-11-03  856  344
2019-12-03  990  594

In [6]:
# 向后移动到月底索引（必须是时间索引）
df3 = df3.shift(freq='M')
df3

            销售额   客流
日期
2019-01-31  749  188
2019-02-28  659  348
2019-03-31  649  428
2019-04-30  724  508
2019-05-31  656  820
2019-06-30  719  118
2019-07-31  710  513
2019-08-31  959  184
2019-09-30  728  182
2019-10-31  798  558
2019-11-30  856  344
2019-12-31  990  594

In [7]:
# 使用 rolling() 移动计算数据
# 计算 3 日移动平均值
df = df.rolling(3).mean()
df

                   销售额          客流
日期
2019-01-01         NaN         NaN
2019-02-01         NaN         NaN
2019-03-01  685.666667  321.333333
2019-04-01  677.333333  428.000000
2019-05-01  676.333333  585.333333
2019-06-01  699.666667  482.000000
2019-07-01  695.000000  483.666667
2019-08-01  796.000000  271.666667
2019-09-01  799.000000  293.000000
2019-10-01  828.333333  308.000000
2019-11-01  794.000000  361.333333
2019-12-01  881.333333  498.666667

### rolling() 的各种计算方法
- rolling.count()  计算非空观察数
- rolling.sum（） 值的总和
- rolling.mean（） 平均值
- rolling.median（） 计算中值
- rolling.min（） 得到最小值
- rolling.max（） 得到最大值
- rolling.std（） 求贝塞尔修正样本标准差
- rolling.var（） 求无偏方差
- rolling.skew（） 样本偏度
- rolling.kurt（） 样本峰度
- rolling.quantile（） 样本分位数（参数值为百分比）
- rolling.apply（） 可以定义函数来灵活运用。
- rolling.cov（） 无偏协方差在数据处理中用于衡量两个变量的总体误差。
- rolling.corr（） 相关系数， 它是研究变量之间线性相关程度的量