In [1]:
import pandas as pd

In [2]:
# 读取数据集
df = pd.read_excel('./案例.xlsx',sheet_name='Sheet1')
df.head()

,部门,姓名,工资,部门2,姓名3,工资4,部门5,姓名6,工资7,部门8,姓名9,工资10,部门11,姓名12,工资13,部门14,姓名15,工资16
0,财务部,严颖,6749,企管部,王浩然,6890,科技部,韩丽,5604.0,生产部,孙英,7574.0,科技部,陶盛林,7971.0,财务部,褚亨,5155.0
1,采购部,姜程燕,4633,生产部,李伟,7921,生产部,华文静,5195.0,_采购部,吕进,7655.0,科技部,安浪,4046.0,市场部,王胜民,7124.0
2,采购部,秦凡,7918,品牌部,张俊龙,5077,_企管部,朱夜白,6943.0,企管部,许睿敏,7329.0,品牌部,魏启锋_,6571.0,企管部,郑欢,4908.0
3,品牌部,华凡,7111,市场部,姜向阳,7705,市场部,严裕,4156.0,宣传部,卫永珍,7718.0,市场部,吴骅,4572.0,市场部,王蓓_,6020.0
4,财务部,卫浩镜,6447,科技部,乐宪杰,5876,生产部,魏朋,6967.0,市场部,秦胡强,6445.0,采购部,孙建华,7863.0,党政部,乌礼杰,7531.0

In [3]:
# 提取待合并的所有列名
merge_names = list(df.columns.values)
merge_names

['部门',
 '姓名',
 '工资',
 '部门2',
 '姓名3',
 '工资4',
 '部门5',
 '姓名6',
 '工资7',
 '部门8',
 '姓名9',
 '工资10',
 '部门11',
 '姓名12',
 '工资13',
 '部门14',
 '姓名15',
 '工资16']

In [4]:

def merge_cols(x):
    """
    x是一个行Series，把它们按分隔符合并
    """
    # 删除为空的列
    x = x[x.notna()]
    # 使用x.values用于合并
    y = x.values
    # 合并后的列表，每个元素是"Supplier" + "Supplier PN"对
    result = []
    # range的步长为 3，目的是每 3 列做合并
    for idx in range(0, len(y), 3):
        # 使用竖线作为"部门" + "项目" + "工资"之间的分隔符
        result.append(f"{y[idx]}|{y[idx+1]}|{y[idx+2]}")
    # 将所有两两对，用#分割，返回一个大字符串
    return "#".join(result)

# 添加新列，把待合并的所有列变成一个大字符串
df["merge"] = df.apply(merge_cols, axis=1)
df.head()

,部门,姓名,工资,部门2,姓名3,工资4,部门5,姓名6,工资7,部门8,姓名9,工资10,部门11,姓名12,工资13,部门14,姓名15,工资16,merge
0,财务部,严颖,6749,企管部,王浩然,6890,科技部,韩丽,5604.0,生产部,孙英,7574.0,科技部,陶盛林,7971.0,财务部,褚亨,5155.0,财务部|严颖|6749#企管部|王浩然|6890#科技部|韩丽|5604.0#生产部|孙英|...
1,采购部,姜程燕,4633,生产部,李伟,7921,生产部,华文静,5195.0,_采购部,吕进,7655.0,科技部,安浪,4046.0,市场部,王胜民,7124.0,采购部|姜程燕|4633#生产部|李伟|7921#生产部|华文静|5195.0#_采购部|吕...
2,采购部,秦凡,7918,品牌部,张俊龙,5077,_企管部,朱夜白,6943.0,企管部,许睿敏,7329.0,品牌部,魏启锋_,6571.0,企管部,郑欢,4908.0,采购部|秦凡|7918#品牌部|张俊龙|5077#_企管部|朱夜白|6943.0#企管部|许...
3,品牌部,华凡,7111,市场部,姜向阳,7705,市场部,严裕,4156.0,宣传部,卫永珍,7718.0,市场部,吴骅,4572.0,市场部,王蓓_,6020.0,品牌部|华凡|7111#市场部|姜向阳|7705#市场部|严裕|4156.0#宣传部|卫永珍...
4,财务部,卫浩镜,6447,科技部,乐宪杰,5876,生产部,魏朋,6967.0,市场部,秦胡强,6445.0,采购部,孙建华,7863.0,党政部,乌礼杰,7531.0,财务部|卫浩镜|6447#科技部|乐宪杰|5876#生产部|魏朋|6967.0#市场部|秦胡...

In [5]:
# 把不用的列删除掉
df.drop(merge_names, axis=1, inplace=True)
df.head()

                                               merge
0  财务部|严颖|6749#企管部|王浩然|6890#科技部|韩丽|5604.0#生产部|孙英|...
1  采购部|姜程燕|4633#生产部|李伟|7921#生产部|华文静|5195.0#_采购部|吕...
2  采购部|秦凡|7918#品牌部|张俊龙|5077#_企管部|朱夜白|6943.0#企管部|许...
3  品牌部|华凡|7111#市场部|姜向阳|7705#市场部|严裕|4156.0#宣传部|卫永珍...
4  财务部|卫浩镜|6447#科技部|乐宪杰|5876#生产部|魏朋|6967.0#市场部|秦胡...

In [6]:
# 先将merge列变成list的形式
df["merge"] = df["merge"].str.split("#")
df.head()

                                               merge
0  [财务部|严颖|6749, 企管部|王浩然|6890, 科技部|韩丽|5604.0, 生产部...
1  [采购部|姜程燕|4633, 生产部|李伟|7921, 生产部|华文静|5195.0, _采...
2  [采购部|秦凡|7918, 品牌部|张俊龙|5077, _企管部|朱夜白|6943.0, 企...
3  [品牌部|华凡|7111, 市场部|姜向阳|7705, 市场部|严裕|4156.0, 宣传部...
4  [财务部|卫浩镜|6447, 科技部|乐宪杰|5876, 生产部|魏朋|6967.0, 市场...

In [7]:
# 执行explode变成多行
df_explode = df.explode("merge")
df_explode.head()

            merge
0     财务部|严颖|6749
0    企管部|王浩然|6890
0   科技部|韩丽|5604.0
0   生产部|孙英|7574.0
0  科技部|陶盛林|7971.0

In [8]:
# 分别从merge中提取 3 列
df_explode["部门"]=df_explode["merge"].str.split("|").str[0]
df_explode["姓名"]=df_explode["merge"].str.split("|").str[1]
df_explode["工资"]=df_explode["merge"].str.split("|").str[2]
df_explode.head()

            merge   部门   姓名      工资
0     财务部|严颖|6749  财务部   严颖    6749
0    企管部|王浩然|6890  企管部  王浩然    6890
0   科技部|韩丽|5604.0  科技部   韩丽  5604.0
0   生产部|孙英|7574.0  生产部   孙英  7574.0
0  科技部|陶盛林|7971.0  科技部  陶盛林  7971.0

In [9]:
# 把merge列删除掉，得到最终数据
df_explode.drop("merge", axis=1, inplace=True)
df_explode

     部门   姓名      工资
0   财务部   严颖    6749
0   企管部  王浩然    6890
0   科技部   韩丽  5604.0
0   生产部   孙英  7574.0
0   科技部  陶盛林  7971.0
..  ...  ...     ...
27  采购部  陈朝海  4255.0
27  品牌部  冯来福  4556.0
27  市场部  卫秀娟  4627.0
28  党政部  何鹏程    6748
28  生产部  赵黑豆    4319

[170 rows x 3 columns]

In [10]:
# 持久化
df_explode.to_excel('./result.xlsx',sheet_name='result',index=False)
print(f'保存结果文件 成功！！')

保存结果文件 成功！！